@font-face {
  font-family: Just tell me what;
  src: url(/fonts/Just\ tell\ me\ what\ regular\ \(Version\ 2\).otf);
}

@font-face {
  font-family: Feeling Passionate;
  src: url(/fonts/Feeling\ Passionate.otf);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  background-image: linear-gradient(#D5C1A1, #FFECCF, #E3CDAB);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  display: none;
}

/* start of header */
.menuLine {
  display: none;
}

.mainNav {
  background-color: #dccfc2;
  height: 100px;
  width: 100vw;
  z-index: 1000;
  position: fixed;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  opacity: 1;
  visibility: visible;
}



.mainNav.hidden {
  opacity: 0;
  visibility: hidden;
}

.mainNavContainer {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
}

.navContainerLeft {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35% !important;
  height: 100px;
}

.navItemsLeft {
  display: flex;
  justify-content: space-between;
}

.navItems a {
  font-family: Poppins;
  font-weight: 600;
  color: #562f22;
  text-decoration: none;
  position: relative;
}

.navItems a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: 0;
  left: 0;
  background-color: #562f22;
  transition: transform 0.25s ease-out;
}

.navItems a:hover::after {
  transform: scaleX(1);
}

.navItems a::after {
  transform-origin: bottom center;
}

.navItems a:hover::after {
  transform-origin: bottom center;
}

.navItems {
  list-style: none;
}

.navContainerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 35% !important;
  height: 100px;
}

.navContainerRight a {
  text-decoration: none;
}

.logoContainer {
  width: 115px !important;
  height: 115px !important;
  border-radius: 50%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImage {
  height: 110px;
}

.bookButton {
  background-color: #8e6c57;
  padding: 7px 15px;
  border-radius: 30px;
  border: none;
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
  gap: 8px;
  -webkit-transition: all 0.5s;
}

.bookButton:hover {
  background-color: #856450;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.bookButton:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #7b5d49;
  transition: transform 0.3s, background-color 0.1s;
}

.bookButtonText {
  font-family: Poppins;
  font-size: 16px;
  color: white;
}

.bookingIcon {
  height: 35px;
}

.ipadSidebar {
  width: 50% !important;
}

.sidebarTop {
  height: 80px;
  width: 93% !important;
  margin-top: 12px;
  border-radius: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.sideLogoContainer {
  background-color: #eeeeee;
  width: 65px !important;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
}

.sideBarText {
  display: flex;
  height: 80px;
  flex-direction: column;
  justify-content: center;
}

.sideLogoImage {
  height: 75px;
}

.sideBarMain {
  font-family: Just tell me what;
  font-size: 30px;
  line-height: 28px;
  margin: 0;
  margin-top: 6px;
  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.sideBarSub {
  font-family: Poppins;
  font-size: 16px;
  margin: 0;
  margin-left: 3px;
  color: #ba7940;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sideBarItems {
  margin-top: 60px;
}

.sideBarItems ul li {
  list-style: none;
  height: 60px;
  width: 40vw;
  display: flex;
  align-items: center;
  transition: 0.3s;
}

.sideBarItems ul li:hover {
  background-color: rgba(211, 211, 211, 0.5);
}

.sideBarItems ul li a {
  text-decoration: none;
  font-family: Poppins;
  color: black;
  font-weight: 500;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sideBarItems ul {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 16px !important;
}

.sideBarItems ul img {
  width: 40vw;
  height: 1px;
  margin: 0;
  padding: 0;
}

.sideBarItems ul li a img {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  margin-left: 10px;
}

.sideBarContainer {
  display: flex;
  flex-direction: column;
}

.sideBarContainer button {
  margin-top: 20px;
  padding: 6px 60px 6px 60px;
  align-self: center;
  border: none;
  border-radius: 30px;
  background-color: #8e6c57;
  color: white;
  font-weight: 400;
  font-size: 18px;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



/* end of header */

/* header media queries start */
@media (max-width: 1024px) {
  .menuLine {
    display: flex;
    transition: all 0.5s !important;
  }

  .menuLine:hover {
    transform: scale(1.18);
  }

  .navContainerLeft {
    display: flex;
    justify-content: flex-start;
  }

  .navItemsLeft {
    display: none;
  }

  .navContainerRight {
    display: flex;
    justify-content: flex-end;
  }

  .navItems.contacts {
    display: none;
  }

  .ipadSidebar {
    width: 50% !important;
  }

  .sidebarTop {
    height: 80px;
    width: 93% !important;
    margin-top: 12px;
    border-radius: 16px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .sideLogoContainer {
    background-color: #eeeeee;
    width: 65px !important;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .sideBarText {
    display: flex;
    height: 80px;
    flex-direction: column;
    justify-content: center;
  }

  .sideLogoImage {
    height: 75px;
  }

  .sideBarMain {
    font-family: Just tell me what;
    font-size: 30px;
    line-height: 28px;
    margin: 0;
    margin-top: 6px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  }

  .sideBarSub {
    font-family: Poppins;
    font-size: 16px;
    margin: 0;
    margin-left: 3px;
    color: #ba7940;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .sideBarItems {
    margin-top: 60px;
  }

  .sideBarItems ul li {
    list-style: none;
  }

  .sideBarItems ul li a {
    text-decoration: none;
    font-family: Poppins;
    color: black;
    font-weight: 500;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .sideBarItems ul {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 16px !important;
  }

  .sideBarItems ul img {
    width: 40vw;
  }

  .sideBarItems ul li a img {
    height: 25px;
    width: 25px;
    margin-right: 20px;
  }

  .sideBarContainer {
    display: flex;
    flex-direction: column;
  }

  .sideBarContainer button {
    margin-top: 20px;
    padding: 6px 60px 6px 60px;
    align-self: center;
    border: none;
    border-radius: 30px;
    background-color: #8e6c57;
    color: white;
    font-weight: 400;
    font-size: 18px;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }

  .sideBarContainer button:hover {
    background-color: #695041;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(1.1);
  }
}

@media (max-width: 725px) {
  .ipadSidebar {
    width: 354px !important;
  }

  .sideBarItems ul img {
    width: 291.84px;
  }

  .sideBarItems ul li {
    list-style: none;
    height: 60px;
    width: 291.84px;
    display: flex;
    align-items: center;
    transition: 0.3s;
  }

  .sideBarItems ul li:hover {
    background-color: rgba(211, 211, 211, 0.5);
  }
}

@media (max-width: 767.2px) {
  .bookButton {
    background-color: #8e6c57;
    padding: 5px 13px 5px 13px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }

  .bookButtonText {
    font-family: Poppins;
    font-size: 12px;
    color: white;
  }

  .bookingIcon {
    height: 30px;
  }
}

/* header media queries end */

footer {
  height: 211px;
  background-color: #DCCFC2;
  display: flex;
  justify-content: center;
}

.footerInfo {
  display: flex;
  width: 80vw;
  margin: 0 !important;
}

.footerLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 !important;
  gap: 10px;
}

.footerLogo img {
  height: 95px;
  width: 115px;
}

.footerLogo p {
  font-family: Just tell me what;
  font-size: 64px;
  width: 300px;
  color: white;
  padding-top: 20px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.footerNav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerNav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  justify-self: center;
  width: 60%;
  padding: 0;
  flex-wrap: wrap;
  gap: 5px;
}


.footerNav a {
  text-decoration: none;
  font-family: Poppins;
  color: #562F22;
  font-weight: 500;
  font-size: 20px;
  transition: color 0.3s ease;
}

.footerNav a:hover {
  color: #8E6C57;
}

a.active {
  color: #8E6C57;
}

.footerNav button {
  border: none;
  background-color: #562f22;
  color: white;
  font-family: Poppins;
  padding: 8px 20px;
  border-radius: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.footerNav button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.footerNav button:active {
  transform: translateY(1px);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

.footerNav button span {
  font-size: 20px;
}

.footerNav button img {
  margin-right: 5px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.footer-socials div {
  display: flex;
  justify-content: space-between;
  width: 230px;
}

.footer-socials div svg {
  transition: transform 0.3s ease;
}

.footer-socials div svg:hover {
  transform: scale(1.1);
}

.footer-socials p {
  font-family: Poppins;
  width: 220px;
  opacity: 36%;
  margin-top: 10px;
  padding-left: 12px !important;
  font-size: 14px;
}

@media (max-width: 1200px) {
  footer {
    height: 500px;
    overflow-x: hidden;
  }

  .footerInfo {
    display: flex;
    flex-direction: column;
    margin: 0 !important;
    width: 100vw !important;
  }

  .footerLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
  }

  .footerNav ul {
    width: 250px !important;
  }

  .footer-socials {
    padding-top: 20px;
  }

  .footerNav button {
    margin-top: 20px;
  }

  .footer-socials p {
    text-align: center;
  }

}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .footerLogo {
    margin-left: 7px !important;
  }

  .footerLogo img {
    height: 70px;
    width: 90px;
  }

  .footerLogo p {
    font-size: 60px;
  }

}

@media (max-width: 380px) {
  .footerLogo p {
    font-size: 14vw;
  }

}

@media (width: 414px) {
  .footerNav ul {
    margin-left: 42px;
  }
}

/* start of mp css */

#divcontainer {
    padding-top: 100px;
    height: 100%;
    width: 100%;
    display: flex;
}

#descdiv{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: fadeleft 1s ease-out forwards;
  }

  @keyframes fadeleft {
      0% {
          opacity: 0;
          transform: translateX(-30px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }

#upper {
    height: 50%;
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 130px;
    padding-top: 50px;
}

#title {
    font-family: just tell me what;
    font-size: 80px;
    color: #562F22;
    text-shadow: 1px 1px 3px #3d2219;
}

#desc {
    font-family: poppins;
    font-style: italic;
    color: #B3734E;
    font-size: 35px;
}

#lower {
    height: 50%;
    display: flex;
    flex-direction: row;
    padding-left: 135px;
}

#lefttag {
    margin-right: 55px;
    position: relative;
    text-align: center;     
}

#pricediv {
    position: absolute;
    top: 40px;
    left: 50px;
}

.price {
    font-family: just tell me what;
    font-size: 80px;
    color: #DCCFC2;
    text-shadow: 1px 1px 3px #2b2b2b;
}

#sizediv {
    position: absolute;
    top: 120px;
    left: 68px;
}

.size {
    font-family: poppins;
    font-size: 20px;
    color: #DCCFC2;
    text-shadow: 1px 1px 3px #2b2b2b;
}

#righttag {
    margin-top: 20px;
    position: relative;
    text-align: center;   
}

#pricediv2 {
    position: absolute;
    top: 40px;
    left: 50px;
}

#sizediv2 {
    position: absolute;
    top: 120px;
    left: 68px;
}

.tagpic {
    height: 180px;
}

#circlediv {
    width: 50%;
    display: flex;
    justify-content: center;
    padding-right: 60   px;
    animation: faderight 1s ease-out forwards;
  }

  @keyframes faderight {
      0% {
          opacity: 0;
          transform: translateX(30px);
      }
      100% {
          opacity: 1;
          transform: translateX(0);
      }
  }

#mpsb {
    height: 500px;
}

.aniforprice{
  animation: out 0.5s ease forwards;
}

.aniforprice:hover{
  animation: in 0.5s ease forwards;
}

@keyframes in {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}

@keyframes out {
  0% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

/* start of products media query tablet*/

@media (max-width: 1024px) {
    body {
        height: 865px;
    }

    #divcontainer {
        padding-top: 150px;
    }

    #upper {
        padding-left: 60px;      
    }

    #circlediv {
        padding-top: 80px;
        padding-right: 60px;
    }

    #mpsb {
        height: 475px;
    }

    #title {
        font-size: 84px;
    }

    #desc {
        font-size: 40px;
    }

    #lower {
        padding-left: 70px;
    }
}

/* start of products media query mobile*/

@media (max-width: 431px){

    #divcontainer {
        padding-top: 0px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    #descdiv{
        width: 100%;
        height: 50%;
        padding-top: 0px;
    }

    #upper {
        flex-direction: column;
        padding-left: 90px;
        padding-top: 0px;
        height: 40%;
    }

    #title {
        font-size: 60px;
    }

    #desc {
        font-size: 20px;
    }

    #lower {
        padding-left: 56px;
    }

    #lefttag {
        margin-right: 35px;
    }

    #pricediv {
        position: absolute;
        top: 33px;
        left: 40px;
    }

    .price {
        font-size: 60px;
    }

    #sizediv {
        position: absolute;
        top: 94px;
        left: 50px;
    }
    
    .size {
        font-size: 20px;
    }

    #righttag {
        margin-top: 20px;
        position: relative;
        text-align: center;   
    }

    #pricediv2 {
        position: absolute;
        top: 33px;
        left: 40px;
    }

    #sizediv2 {
        position: absolute;
        top: 94px;
        left: 50px;
    }

    .tagpic {
        height: 140px;
    }

    #circlediv {
        width: 100%;
        height: 50%;
        align-items: center;
        justify-content: center;
        padding-left: 55px;
        
    }

    #mpsb {
        height: 350px;
    }

    #brr{
        display: none;
    }
}

/* start of resposiveness media queries*/

  @media (max-width:900px){
    #divcontainer {
      padding-top: 0px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
  }

  #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 210px;
  }

  #upper {
      flex-direction: column;
      padding-left: 90px;
      padding-top: 0px;
      height: 40%;
  }

  #title {
      font-size: 60px;
  }

  #desc {
      font-size: 20px;
  }

  #lower {
      padding-left: 56px;
  }

  #lefttag {
      margin-right: 35px;
  }

  #pricediv {
      position: absolute;
      top: 33px;
      left: 40px;
  }

  .price {
      font-size: 60px;
  }

  #sizediv {
      position: absolute;
      top: 94px;
      left: 50px;
  }
  
  .size {
      font-size: 20px;
  }

  #righttag {
      margin-top: 20px;
      position: relative;
      text-align: center;   
  }

  #pricediv2 {
      position: absolute;
      top: 33px;
      left: 40px;
  }

  #sizediv2 {
      position: absolute;
      top: 94px;
      left: 50px;
  }

  .tagpic {
      height: 140px;
  }

  #circlediv {
      width: 100%;
      height: 50%;
      align-items: center;
      justify-content: center;
      padding-left: 70px;
      
  }

  #mpsb {
      height: 350px;
  }

  #brr{
      display: none;
  }
  }

  @media (max-width:850px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 185px;
  }
  }

  @media (max-width:800px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 160px;
  }
}

  @media (max-width:750px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 135px;
  }
  }


  @media (max-width:700px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 110px;
  }
  }

  @media (max-width:650px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 85px;
  }
  }

  @media (max-width:600px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 60px;
  }
  }

  @media (max-width:550px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 35px;
  }
  }

  @media (max-width:500px){
    #descdiv{
      width: 100%;
      height: 50%;
      padding-top: 0px;
      padding-left: 10px;
  }
  }

  @media (max-width:415px){
    #mainbox {
      width:100%;
    }

    #descdiv{
      padding-left: 0px;
    }

    #lower {
      padding-left: 50px;
    }

    #circlediv {
      padding-left: 55px;
    }
  }